@font-face
{
    font-family: "Odachi";
    src: url(fonts/Odachi.woff);
}

@font-face
{
    font-family: "Fritz";
    src: url(fonts/fritzreg500-webfont.woff);
}

@font-face
{
    font-family: "Lato-Regular";
    src: url(fonts/Lato-Regular.ttf);
}

@font-face
{
    font-family: "Lato-Italic";
    src: url(fonts/Lato-Italic.ttf);
}

@font-face
{
    font-family: "Lato-ThinItalic";
    src: url(fonts/Lato-ThinItalic.ttf);
}

@font-face
{
    font-family: "Lato-LightItalic";
    src: url(fonts/Lato-LightItalic.ttf);
}

@font-face
{
    font-family: "Lato-Thin";
    src: url(fonts/Lato-Thin.ttf);
}

@font-face
{
    font-family: "Lato-Bold";
    src: url(fonts/Lato-Bold.ttf);
}

@font-face
{
    font-family: "Lato-Bold";
    src: url(fonts/Lato-Bold.ttf);
}

@font-face{
	font-family: "Dartmouth";
	src: url(fonts/DartmouthRuzicka-Regular.ttf);
}


html
{
    background-color:  rgb(234, 238, 216);
}

.header
{
    background-color: rgb(202, 246, 214);
    width: 25%;
    border: 4px outset rgb(50, 246, 50);
    border-radius: 4px;
    overflow: hidden;
}

.light{
	color: rgb(234, 238, 216);
}

.bold{
	font-family: "Lato-Bold";
}


.center
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.centerText
{
    text-align: center;
}

.rightText
{
    float: right;
}

.linkdark
{
	color: rgb(34, 38, 17);
	display: inline;
    font-family: "Lato-Italic";
    font-size: 17px;
}

.linkdark2
{
	color: rgb(34, 138, 67);
	display: block;
    font-family: "Lato-LightItalic";
    font-size: 23px;
}

.linkdarkbig
{
	color: rgb(34, 110, 17);
	display: block;
    font-family: "Lato-Italic";
    font-size: 20px;
	text-align: center;
}

.linkdarkbig2
{
	color: rgb(34, 110, 17);
	display: block;
    font-family: "Lato-Italic";
    font-size: 25px;
	text-align: center;
}


h1
{
    font-family: "Lato-Regular";
    font-size: 40px;
    text-align: center;
}

h2
{
    font-family: "Lato-LightItalic";
    text-align: center;
}

ul
{
  font-family: "Lato-Regular";
  text-align: left;
  list-style-position: inside;
}

p
{
    font-family: "Lato-Regular";
    font-size: 17px;
    white-space: wrap;
	margin: 5px;
	text-overflow: clip;
	color: rgb(34, 38, 17);
}
a
{
    display: inline;
    font-family: "Lato-LightItalic";
    font-size: 17px;
    color: rgb(245, 255, 185);
    white-space: nowrap;
}

.side-link{
	display: inline;
    font-family: "Lato-LightItalic";
    font-size: 17px;
    color: rgb(245, 255, 185);
    white-space: nowrap;
}

a:hover
{
    display: inline
    font-family: "Lato-LightItalic";
    font-size:17px;
    color: rgb(179, 172, 130);
    white-space:nowrap;
}

.italic{
	font-family: "Lato-Italic";
    font-size: 17px;
    white-space: wrap;
	margin: 5px;
	text-overflow: clip;
	color: rgb(34, 38, 17);
	text-align: center;
}

h3
{
    font-family: "Lato-LightItalic";
	text-align: center;
}

.imgwithborder{
	border: solid 2px;
	border-color: rgb(234, 238, 216);
	display: block;
    margin-left: auto;
    margin-right: auto;

}

.imgwithborderfloat{
	border: solid 2px;
	border-color: rgb(34, 38, 17);
    margin-left: auto;
    margin-right: auto;
	float: left;
}

.sidenavleft {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 25%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: rgb(34, 38, 17); /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

.sidenavright{
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 72%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 25%;
  background-color: rgb(234, 238, 216); /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0px;
}

.btn-group{
	justify-content: center;
	display: flex;
}

.btn-group button
{
	padding: 16px 24px;
	width: 33.3%;
	background-color: rgb(149, 172, 104);
	font-family: "Lato-Regular";
	color: rgb(34, 38, 17);
	float: left;
	border: 1px solid rgb(34, 38, 17);
}

.btn-link{
	font-family: "Lato-Regular";
	color: rgb(34, 38, 17);
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: rgb(149, 172, 104);
  
  .btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.frame
{
		margin: 0 auto;
		display: block;
		text-align: center;
}