@font-face
{
    font-family: "Odachi";
    src: url(fonts/Odachi.woff);
}

@font-face
{
    font-family: "Fritz";
    src: url(fonts/fritzreg500-webfont.woff);
}

html
{
    background-color: DodgerBlue;
}

.header
{
    background-color: RoyalBlue;
    width: 100%;
    border: 4px outset RoyalBlue;
    border-radius: 4px;
    overflow: hidden;
}

.center
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.centerText
{
    text-align: center;
}

.rightText
{
    float: right;
}

h1
{
    font-family: "Odachi";
    font-size: 40px;
    text-align: center;
}

h2
{
    font-family: "Fritz";
    text-align: center;
}

ul
{
  font-family: "Fritz";
  text-align: center;
  list-style-position: inside;
}

p
{
    font-family: "Fritz";
    font-size: 17px;
    white-space: nowrap;
}

a
{
    display: inline;
    font-family: "Fritz";
    font-size: 17px;
    color: Blue;
    white-space: nowrap;
}

a:hover
{
    display: inline
    font-family: "Fritz";
    font-size:17px;
    color: DarkBlue;
    white-space:nowrap;
}

a:visited
{   
    display: inline;
    font-family: "Fritz";
    font-size:17px;
    color: Purple;
    white-space: nowrap;
}

h3
{
    font-family: "Fritz";
}

img
{
    border: solid 4px;
}